<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Decode</title>
  </head>
  <body>
    <h1>Decoder</h1>
{% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
{% endif %}
    <p>To decode, enter an encoded string (sequence of digits [0-9]) that
    resembles one of following examples:</p>
    <ul>
      <li><pre>12</pre></li>
      <li><pre>226</pre></li>
      <li><pre>1034</pre></li>
    </ul>
    <p><i>Note: The maximum length is 30</i></p>
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Decode">
    </form>
{% if result %}
    <h2>Possible Decodings</h2>
    <ul>
    {% for s in result %}
    <li><pre>{{ s }}</pre></li>
    {% endfor %}
    </ul>
{% endif %}
  </body>
</html>
