<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Decode</title>
  </head>
  <body>
    <h1>Decode</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Decode">
    </form>
{% if result %}
    <h2>Result</h2>
    <ul>
    {% for s in result %}
    <li>{{ s }}</li>
    {% endfor %}
    </ul>
{% endif %}
  </body>
</html>
